.body{
    height: 100vh;
    background-color: var(--bg);
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.prac__container, .pro__container{
    width: 100vw;
    position: absolute;
    margin: 10vh 0;
    z-index: 10;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .prac__container, .pro__container{
        height: 90vh;
        overflow-y: scroll;
        position: relative;
        margin-top: 0;
    }
}

.svg1{
    position: absolute;
    right: 0;
    bottom: -85px;
    width: 604px;
    height: 604px;
    z-index: 0;
}

.svg2{
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    width: 530px;
    z-index: 0;
}

.sy_svg1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 208px;
  }
  
  .sy_svg2{
      position: absolute;
      bottom: 0;
      left: 100px;
      height: 600px;
      width: 900px;
  }
  
  .sy_svg3{
      height: 480px;
      width: 320px;
      position: absolute;
      right: 0;
      bottom: 0;
  }