.main {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.about {
  width: 100vw;
}

.section1,
.section2 {
  display: flex;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* .about_content {
  display: flex;
  flex-direction: column;
} */
.about_heading {
  color: #f1924d;

  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}
.about_para {
  color: #fff;

  font-size: 1.5rem;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 1.2cm;
  text-align: left;
  flex-wrap: wrap;
}
.section1 > img {
  height: 20rem;
}

.about2_content {
  display: flex;
  flex-direction: column;
}

.section2 > img {
  width: 35rem;
  height: 20rem;
}

@media screen and (max-width: 1000px) {
  .main{
    height: auto;
  }
  .about{
    overflow-y: scroll;
  }
  .about_img {
    display: none;
  }
  .about_heading{
    font-size: 3rem;
  }
}
