.bg{
    background-color: var(--bg);
}
.app2__header-heading{
    background-color: var(--blue);
    width: 33%;
    height:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:1rem;
    padding :1rem;
border-radius: 10px;
/* text-align: center; */
}
.app2__headeer-heading_Text{
font-size: 3rem;
height: 5rem;
padding-top: 10px;
/* text-align: center; */

}
